<h1 style="text-align:center">Public Recipes</h1>

<% @recipes.each do |recipe| %>
  <div class="card shadow m-3">
    <div class="card-body d-flex flex-row justify-content-between m-2">
      <div>
        <h2 class="card-title"><%= recipe.name %></h2>
        <p class="card-subtitle">By: <%= recipe.user.name %> </p>
      </div>
      <div class="card-text">
        <p>Total food items: <!--recipe.recipefood.count--></p>
        <p>Total price: <!--recipe.recipefood.price.sum--></p>
      </div>
    </div>
  </div>
<% end %>