<!-- Nav menu with user information -->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark pmd-navbar pmd-z-depth fixed-top">
    <a class="navbar-brand" href="#">Granny's Recipes</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
         <%= link_to "Food", foods_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">My Recipes</a>
        </li>
        <li class="nav-item">
          <%= link_to "Public Recipes", public_recipes_path, class: "nav-link" %>
        </li>
      </ul>
    </div>

  <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
      <a class="btn-user dropdown-toggle media align-items-center d-flex flex-row" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" data-sidebar="true" aria-expanded="false">
          <img class="mr-2" src="https://pro.propeller.in/assets/images/avatar-icon-40x40.png" width="40" height="40" alt="avatar">
          <div class="media-body">
              User
          </div>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item">Edit Profile</a>
          <a class="dropdown-item">Logout</a>
      </ul>
  </div>

  <!-- Responsive toggler -->
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<br>
<br>
<br>
<br>