<div class="m-auto col-8 border shadow p-3">
  <h1>Welcome to the Granny's Recipes web</h1>
  <h2>About</h2>
  <p>
    This is a web application, to recipes, to share and to enjoy. Please, visit the repository to know more about the project.
  </p>
  <p>
    And of course give us an star ;)
  </p>
  <h2>Repo</h2>
  <p>
    <a href="https://github.com/Wikitelmex/recipe-project" target="_blank" rel="noopener noreferrer">GitHub Granny's recipe repo</a>
  </p>
  <h2>How to use it</h2>
  <p>
    <h3>Page tabs</h3>
    <ul>
      <li>
        <h4>Home tab</h4>
        <p>Is the root page, the first one that apears when you open the site (must be registered)</p>
      </li>
      <li>
        <h4>Food tab</h4>
        <p>To every single recipe, you'll need ingredients, those ingredients, are acquired from the database, and you'll need to add them trough this tab</p>
      </li>
      <li>
        <h4>My Recipes tab</h4>
        <p>As registered user, you'll have a collection of recipes, those recipes may be public or private, but in this tab will appear all the recipes that the curren user owns</p>
      </li>
      <li>
        <h4>Public Recipes tab</h4>
        <p>Here you can see all the public recipes, even from other users that shared their recipes as public</p>
      </li>
    </ul>
  </p>
</div>
<br><br><br>